/*
====================================================
	
	1. PRIMARY STYLES
	2. COMMONS FOR PAGE DESIGN
	3. HEADER
	4. INTRO SECTION
	5. PORTFOLIO SECTION
	   5.1 PORTFOLIO MODAL
	6. ABOUT SECTION
	7. EXPERIENCE SECTION
	8. EDUCATION SECTION
	9. COUNTER SECTION
	10. FOOTER
	11. NAVBAR
	12. QUOTE SECTION

====================================================

/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */

$baseColor: #FFA600;

html {
  font-size: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  touch-action: manipulation;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: 'Poppins', serif;
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  color: #333;
  -webkit-column-break-inside: avoid;
}

@font-face {
  font-family: 'Poppins', serif;
  font-display: fallback;
  src: url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
li,
img,
inpot,
button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  font-weight: inherit;
}

h1,
h2,
h3 {
  font-family: 'Poppins', cursive;
}

p {
  line-height: 1.6;
  font-size: 1.05em;
  font-weight: 400;
  color: #777;
}

h1 {
  font-size: 4em;
  line-height: 1;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .9em;
  letter-spacing: 1px;
}

a,
button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: 1;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

a {

  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
    color: $baseColor;
  }
}

button {

  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
    color: $baseColor;
  }
}

a b.light-color:hover {
  text-decoration: none;
  color: $baseColor;
}

b {
  font-weight: 600;
}

img {
  width: 100%;
}

li {
  list-style: none;
  display: inline-block;
}

.list>li {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    display: block;
    border-radius: 10px;
    border: 2px solid #fff;
  }
}

span {
  display: inline-block;
}

button {
  outline: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

.icon {
  font-size: 1.1em;
  display: inline-block;
  line-height: inherit;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  line-height: inherit;
}

b.max-bold {
  font-weight: 700;
}

/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.section {
  padding: 100px 0 50px;

  .heading {
    margin-bottom: 60px;

    &:before {
      content: '';
      height: 10px;
      width: 50px;
      border-radius: 5px;
      margin-bottom: 20px;
      display: block;
      background: $baseColor;
    }
  }
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-b-30 {
  margin-bottom: 30px;
}

.margin-b-50 {
  margin-bottom: 50px;
}

.margin-tb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.font-yellow {
  color: $baseColor;
}

.font-semi-white {
  color: #ddd;
}

.font-lite-black {
  color: #999;
}

.triangle-parallax {
  background-image: url(../images/triangles.svg) !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.list>li:before {
  border: 2px solid $baseColor;
}

/* ---------------------------------
3. HEADER
--------------------------------- */

header {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 100;

  .heading-wrapper {
    border-radius: 5px;
    padding: 30px 40px 20px;
    background: $baseColor;
    color: #fff;
  }

  .info {
    margin-bottom: 10px;

    .icon {
      float: left;
      font-size: 30px;
    }

    .right-area {
      margin-left: 45px;
    }
  }

  .download-btn {
    padding: 15px 30px;
    border-radius: 4px;
    float: right;
    margin-top: 30px;
    box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.3);
    background: $baseColor;
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;

    &:hover {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  }
}

/* ---------------------------------
4. INTRO SECTION
--------------------------------- */

.intro-section {
  padding-top: 200px;
  position: relative;
  background-size: cover;
  z-index: 1;

  &:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    z-index: -1;
    background: #fff;
  }

  .intro {
    box-shadow: grey 0px 1px 3px;
    border-radius: 4px;
    padding: 0 20px 1rem 0;
    margin-top: 100px;
    text-align: center;
    background: #fff;

    .profile-img {
      height: 250px;
      width: 250px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      top: -100px;
      margin-bottom: -70px;
    }

    .profile-name {
      font-size: 2.2em;
      line-height: 1.1;
    }

    .profile-role {
      font-size: 1.3em;
      line-height: 1.5;
    }

    .information {
      li {
        display: block;
        margin: 5px 0;
      }
    }

    .social-icons {
      li {
        a {
          height: 50px;
          line-height: 58px;
          width: 50px;
          border-radius: 50px;
          overflow: hidden;
          z-index: 1;
          position: relative;
          margin: 0 5px 5px;
          background: #887392;
          color: #fff;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            z-index: -1;
            border-radius: 20px;
            background: $baseColor;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            -webkit-transform: scale(0);
            transform: scale(0);
          }

          &:hover:after {
            -webkit-transform: scale(1);
            transform: scale(1);
          }

          i:before {
            font-size: 25px;
          }
        }
      }
    }
  }
}

/* ---------------------------------
5. PORTFOLIO SECTION
--------------------------------- */

.portfolio-section {
  padding-bottom: 0;

  .portfolioFilter {
    margin-top: 60px;
    color: #666;

    a {
      margin: 10px 10px 0 0;

      &.current {
        color: $baseColor;
      }
    }
  }

  .p-item {
    width: 33.333%;
    padding: 0 7.5px 0px;
    margin-top: 15px;
    width: 33.333%;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 35%;
      background: rgba(2, 0, 31, 0.1);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
      background-repeat: no-repeat;
      background-origin: content-box !important;
      padding: inherit;
    }

    a {
      display: inline;

      .p-item-caption {
        display: none;
      }

      .card-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1.25rem 1.75rem;
        color: white;
        transition-duration: 0.5s;

        &:hover {
          color: #fff;
          transform: translateY(-3px);
        }
      }
    }

    &.p-item-2 .img {
      &:first-child {
        float: left;
        width: 50%;
        padding-right: 7.5px;
      }

      &:last-child {
        float: right;
        width: 50%;
        padding-left: 7.5px;
      }
    }
  }
}

/* ---------------------------------
5.1 PORTFOLIO MODAL
--------------------------------- */

body.modal-open {
  overflow: visible;
}

#projectModal {
  .modal-body {
    max-height: calc(100vh - 58px);
    overflow-y: auto;
  }
  .modal-dialog {
    width: 94%;
    margin: 0 0 0 6%;
  }

  &.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }

  .tech-carousel img {
    height: 50px !important;
    width: unset !important;
  }

  .gallery-carousel .owl-item img{
      max-height: 25rem;
      width: auto;
      margin: auto;
  }


  .curly-braces {
    margin: 0 1rem;
    color: $baseColor;
  }

  .navbar-portfolio {
    background: $baseColor;
    color: #fff !important;
    font-size: large;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border: none;
    border-top-left-radius: 5px;
    margin-bottom: 0px;

    p {
      color: inherit;
    }

    a:hover,
    button:hover {
      color: #000;
    }

    a:focus {
      color: inherit;
    }

    .ion-ios-arrow-back {
      margin-right: 1rem;
    }
  }

  .project-title {
    padding: 5rem;
    background: #28023D;
    position: relative;
    z-index: 1;
    background-image: url('../images/triangles.svg');
    background-size: cover;

    h1 {
      font-size: 3em;
      color: #fff;
    }

    h4 {
      color: #f3f3f3;
    }

    &:before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

/* ---------------------------------
6. ABOUT SECTION
--------------------------------- */

.about-section {
  #development-skills{
    margin-top: 1rem;
  }
  .skills {
    &.single{
          /*
      li#teamwork:before{
        content: url('https://alsado.ca/wp-content/themes/alsado/images/teamwork.svg');
      }
      li#innovate:before{
        content: url('https://alsado.ca/wp-content/themes/alsado/images/innovate.svg');
      }
      li#communication:before{
        content: url('https://alsado.ca/wp-content/themes/alsado/images/communication.svg');
      }
      li#learning:before{
        content: url('https://alsado.ca/wp-content/themes/alsado/images/learning.svg');
      }
      li:before{
        content: '';
        position: relative;
        right: 0;
        top: 5px;
        width: 50px;
        height: 50px;
        transform: scale(1.4);
      }*/
      .strength{
        margin: auto;
      }
    }
    li {
      display: flex;
      flex-direction: row;
      padding: 8px;
      border-radius: 5px;
      height: 40px;
      overflow: hidden;
      break-inside: avoid;

      &:hover {
        background: #F2F2F2;
      }

      .skill {
        flex-grow: 1;
      }

      .strength {
        color: $baseColor;
      }
    }
  }
}


/* ---------------------------------
7. EXPERIENCE SECTION
--------------------------------- */

.experience-section {
  background: #28023D;
  color: #fff;
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

/* ---------------------------------
8. EDUCATION SECTION
--------------------------------- */

.education-wrapper {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 8px;
    bottom: 0;
    left: -51px;
    width: 2px;
    background: #ccc;
  }

  .education {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 8px;
      left: -58px;
      width: 16px;
      height: 16px;
      border-radius: 10px;
      z-index: 1;
      box-shadow: 0 0 0 8px rgba(255, 171, 0, 0.4);
      background: $baseColor;
    }
  }
}

/* ---------------------------------
10. FOOTER
--------------------------------- */

.copyright {
  text-align: center;
  padding: 30px 0;
  background: #28023D;
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.6);
  }
}

/* ---------------------------------
11. NAVBAR
--------------------------------- */

.scroll-down {
  height: 80px;
  width: 130px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 2%;
  background-color: #222222;
  text-align: center;
  z-index: 6;

  i {
    color: #FFFFFF;
    font-size: 45px;
    position: relative;
    top: 20px;
    animation-name: wiggle;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  &:hover i {
    padding-top: 25px;
  }
}

.navbar-home {
  border: 0px;
  background-color: #222222;
  position: absolute;
  top: 100%;
  right: 2%;
  width: 130px;
  z-index: 999;

  .navbar-collapse {
    padding: 0px;
    max-height: none;
  }

  .navbar-nav {
    float: none;
    margin: 0px;

    li {
      display: block;
      float: none;
      height: 80px;

      &.active {
        a {
          background: $baseColor;
          color: #FFFFFF;

          &:hover,
          &:focus {
            background: $baseColor;
            color: #FFFFFF;
          }
        }
      }

      a {
        display: block;
        height: 80px;
        text-align: center;
        padding-top: 30px;
        font-weight: 600;
        color: #FFFFFF;

        &:hover,
        &:focus {
          color: #999999;
        }

      }
    }
  }

  .navbar-toggle {

    &:hover .icon-bar,
    &:focus .icon-bar {
      background: #222222;
    }
  }
}

.fixed .navbar {
  position: fixed;
  top: 60px;
}

nav.invert {
  background-color: #fff;

  a {
    color: #222222 !important;
  }

  li.active a{
    color: #fff !important;
  }
}

section.project {
  margin: 3rem 0 3rem;
}

.heading {
  margin-bottom: 2rem;
}

/* ---------------------------------
12. Quote Section
--------------------------------- */

.quote-section {
  margin-top: 4rem;
  padding: 80px 0;
  position: relative;
  background-size: cover;
  z-index: 1;
  color: #fff;

  &:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .icon {
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 30px;
    background: $baseColor;
    color: #fff;
  }
}